* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    text-shadow: #AB79BC 0 0 2px;
}

* {
/*border: 1px solid black;*/
}

body {
    background-image: url(img/digitalbg.png);
    background-repeat: repeat;
    background-size: 500px;

    position: relative;
}

strong {
    font-size: 1.2em;
}

.pantallaFinal {
    background-color: #000000;
    margin: 1% 20%;
    padding: 4%;

    text-align: center;
    font-size: 10px;
}

.pantallaFinal > p , h1, strong {
    color: white;
    letter-spacing: 2px;
}

.pantallaFinal__gracias {
    margin-bottom: 10px;
    font-size: 30px;
}

.botonNewGame {
    position: absolute;
    top: 1vw;
    right: 1vh;
    font-size: 10px;
}

.clima {
    position: absolute;
    top: 1vw;
    font-size: 10px;
    margin: 2px;
    background-color: #fff;
    text-align: center;
}


/*GRID*/

.grid {
    display: grid;
    height: 100vh;
    width: 70vw;
    margin: auto;
    background-color: #fff;

    grid-template-areas:
        "head head"
        "estadistica scene"
        "interfaz interfaz";
    grid-template-columns: 10% 90%;
    grid-template-rows: 15% 55% 30%;
}

/*HEADBAR*/
.headBar__cuadro {
    grid-area: head;
    
}

/*elemento agregado con js*/
.headBar__name {
    font-size: 25px;
}

.headBar__flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -2%; 
    margin-left: 10px;
}

.headBar__input {

font-size: 70%;

}

/*ESTADISTICAS*/

.estadisticas {
    grid-area: estadistica;
}

/*ESCENA*/

.scene {
    grid-area: scene;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;

}

.scene__personaje {
    display: none;
    height: 70%;
    width: 100%;
    /*border: 1px solid red;*/


    background-image: url(./npc/startGood.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.scene__respuesta {
    display: none;
    padding-bottom: 1%;
    width: 90%;
    height: 30%;

    text-align: center;

}

.respuestaBoton {

}

.respuestaInstancia {

font-size: 15px;

}

/*INTERFAZ*/

.interfaz__cuadro {
    grid-area: interfaz;

}

.interfaz {
    display: flex;
    height: 100%;
}

/*botonera*/
.botonera {
    display: flex;
    flex-direction: column;
    justify-content:space-around; 
}

.botonCuadro {
}

/*dialogos*/
.cuadroDialogos {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 

    width: 100%;
}

.dialogo {
    display: none;
    padding-left: 3%;
    font-size: 70%;
}
