* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    text-shadow: #AB79BC 0 0 2px;
}

* {
/*border: 1px solid black;*/
}

body {
    background-image: url(img/greenlcd.jpg);
    background-repeat: repeat;
    background-size: contain;

}

/*GRID*/

.grid {
    display: grid;
    height: 100vh;
    width: 80vw;
    margin: auto;

    grid-template-areas:
        "head head"
        "estadistica scene"
        "interfaz interfaz";
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 50% 40%;
}

/*HEADBAR*/
.headBar__cuadro {
    grid-area: head;
    
}

.headBar__flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -2%; 
    margin-left: 10px;
}

.headBar__input {

font-size: 70%;

}

/*ESTADISTICAS*/

.estadisticas {
    grid-area: estadistica;
}

/*ESCENA*/

.scene {
    grid-area: scene;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background-image: url(npc/upsetGB.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.scene__respuesta {
    padding-bottom: 1%;
    width: 90%;

}

.respuestaBoton {
}

.respuestaInstancia {

}

/*INTERFAZ*/

.interfaz__cuadro {
    grid-area: interfaz;
}

.interfaz {
    display: flex;
    height: 100%;
}

/*botonera*/
.botonera {
    display: flex;
    flex-direction: column;
    justify-content:space-around; 
}

.boton:hover {
    font-size: 30px;
}

.botonCuadro {
}

/*dialogos*/
.cuadroDialogos {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 

    width: 100%;
}

.dialogo {
    padding-left: 3%;
    font-size: 70%;
}